---
import Disqus from "../components/Disqus.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Script from "../components/Script.astro";
import "../styles/global.scss";
import { Image } from "../Image";

export interface Props {
  title: string;
  description: string;
  keywords: string;
  author: string;
  image: Image;
  disqusIdentifier: string;
}

const { title, description, keywords, author, image, disqusIdentifier } = Astro.props;
const page = "blog";
const p = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head type="article" title={title} description={description} keywords={keywords} author={author} image={image} />
  <body class="bg-gray-900 text-white scrollbar scrollbar-thumb-gray-600">
    <Header page={page} />
    <main>
      <slot />
      <section class="max-w-6xl mx-5 lg:mx-auto md:mx-5 sm:mx-5">
        <!-- Horizontal Add Unit -->
        <ins
          class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-1304584118292313"
          data-ad-slot="2365016063"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
        <script is:inline>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </section>
      <section class="max-w-6xl mx-5 lg:mx-auto md:mx-5 sm:mx-5 py-5 text-justify">
        <Disqus disqusIdentifier={disqusIdentifier} />
      </section>
    </main>
    <Footer />
    <Script /> 
  </body>
</html>
