---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Script from "../components/Script.astro";
import "../styles/global.scss";
import { SITE_COVER } from "../consts";
import { Image } from "../Image";

export interface Props {
  page: string;
  title: string;
  description: string;
  keywords: string;
  author: string;
}

const { page, title, description, keywords, author } = Astro.props;
const image: Image = {
  cover: SITE_COVER
}
---

<!DOCTYPE html>
<html lang="en">
  <Head type="website" title={title} description={description} keywords={keywords} author={author} image={image} />
  <body class="bg-gray-900 text-white scrollbar scrollbar-thumb-gray-600">
    <div class="flex flex-col h-screen justify-between">
      <Header page={page} />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
    <Script /> 
  </body>
</html>
